.flex-container{
  display: flex;
  border: 1px solid green;
  padding: 10px;
}

.flex-container div{
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  flex: 1; 
}

/*creating nesting**/
.flex-container .two{
 display: flex;
 padding: 10px;
 

}
.flex-container .two .inner{
 flex: 1;
 border: 1px solid royalblue;
}