.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.alternate {
  box-sizing: border-box;
  /* this prop does not add padding and border to the height,
  but make sure the padding and border added is equal to the 
  "height";  */
}
    

/* many programmers usually prefer border-box

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
} */